@import '../styles/colors';

.threecol {
  display: grid;
  grid-template-columns: 1fr;

  gap: 24px;

  .one {
    display: grid;
  }

  .two {
    display: grid;
  }

  .three {
    display: grid;
  }
}




@media (min-width: 1650px) {
  .threecol {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;

    .one {}

    .two {}

    .three{}
  }
}